name: EC2 Deployment

on:
  workflow_run:
    workflows: ["Test"]
    types: [completed]
    branches: ["deployment_project"]
  workflow_dispatch:

permissions:
  contents: read
  actions: read 

jobs:
  deploy:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          ref: 'deployment_project'

      - name: SSH into EC2 and run deployment script
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_KEY }}
          port: '22'
          script: |
            cd /home/ec2-user/dice
            git pull origin deployment_project
            sudo systemctl restart diceapp
            sudo systemctl status diceapp --no-pager -l