name: Lambda Deployment

on:

  push:
    branches:
      - deployment_project
    paths:
      - '.github/workflows/lambda.yml'  
  workflow_dispatch: 

permissions:
  id-token: write   
  contents: read    

jobs:   
  deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          ref: 'deployment_project'

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v5.1.1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-session-token: ${{ secrets.AWS_SESSION_TOKEN }}
          aws-region: us-east-1

      - name: Make deploy script executable
        run: chmod +x resources/deploy_lambda.sh

      - name: Deploy Lambda function
        run: ./resources/deploy_lambda.sh