name: Lambda Deployment

on:
  workflow_run:
    workflows: ["Test"]
    types:
      - completed
  workflow_dispatch: 

jobs:
  deploy-lambda:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}  # Only run if tests succeeded

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-session-token: ${{ secrets.AWS_SESSION_TOKEN }}
          aws-region: us-east-1

      - name: Make deploy script executable
        run: chmod +x resources/deploy_lambda.sh

      - name: Deploy Lambda function
        run: ./resources/deploy_lambda.sh
