name: Test

on: 
    workflow_dispatch:
    push:
        branches:
            - deployment_project

jobs:
    test:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v6
              with:
                ref: 'deployment_project'
            
            - name: Set up Python
              uses: actions/setup-python@v6
              with:
                python-version: '3.9'
                
            - name: Install dependancies
              run: pip install -r app/requirements_flask.txt
              
            - name: Run tests
              run: pytest tests   
